@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
}

/* PRINT AYARLARI */
@media print {

    body {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    /* Sayfa yönünü YATAY yap */
    @page {
        size: A4 landscape;
        margin: 10mm;
    }

    /* Sadece print alanı görünsün */
    body * {
        visibility: hidden !important;
    }

    #PRINT_SECTION, #PRINT_SECTION * {
        visibility: visible !important;
    }

    #PRINT_SECTION {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
    }

    /* Tablo taşmasın */
    table {
        width: 100% !important;
        table-layout: fixed !important;
        border-collapse: collapse !important;
    }

    th, td {
        border: 1px solid #000 !important;
        word-wrap: break-word !important;
        white-space: normal !important;
        padding: 4px !important;
        font-size: 10px !important;
    }
}
